trainingsamples/ #excluded because of filesize

#project environment
.venv/
src/.venv/ #use requierements.txt for rebuilding the environment

#idea environment
.idea/
src/.idea/

#pycache
__pycache__/
*.pyc
