trainingsamples/ #excluded because of filesize

#project environment | use requierements.txt for rebuilding the environment
.venv/
src/.venv/ 

#idea environment
.idea/
src/.idea/

#pycache
__pycache__/
*.pyc

#recorded file-paths of sample recorder
src\Training\sample.avi
src\Training\sample_filtered.avi